<html>
    <head>
        <title>Slowhobbits's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            {% for post in posts %}
    		<div>
        	<p>published: {{ post.published_date }}</p>
		<img src="{{MEDIA_URL}}{{post.upload.url}}" >
        	<h1><a href="">{{ post.title }}</a></h1>
                <div>{{ post.text|linebreaksbr }}</div>
    		</div>
	    {% endfor %}
        </div>
    </body>
</html>
